<% if @group %>
  $('#group-header-details').empty();
  $('#group-title').text('')
  $('#group-header-details').prepend(`<h5 class="d-inline-block"><b>Add Friend</b></h5><div class="d-inline-block ">
            <%= form_with url: add_friend_group_url(@group.id) , remote: true , method: 'post' do |form|  %>
              <%= form.text_field "email",id:"email-input", placeholder:"Email",id: "email" %>
              <%= form.submit "ADD" , :class =>"btn btn-dark btn-sm", data: { "disable-with": "Adding..." }  %>
            <% end %>
          </div>
          `)
<% end %>

$('.my-card-container').empty()
<% if @users.size != 0 %>
$('.my-card-container').append(`<% @users.each do |user| %><div class="my-card">
          <div class="my-card-img-body">
            <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="Card image cap">
          </div>
          <div class="my-card-body">
            <h6 class="card-title"><b><%= user.name %></b></h6>
            <%= link_to "Remove", delete_friend_from_group_url(@group.id,user.id), method: :delete , class: "btn btn-danger btn-sm" %>
          </div>
        </div><% end %>`)
<% else %>
//$('.my-card-container').append('<h5><b>No Users In This Group</b></h5>')
<% end %>