
<% if @group %>
  $('#group-header-details').empty();
  $('#group-title').text('')
  $('#group-header-details').prepend(`<% if @group.user_id == current_user.id %><h5 class="d-inline-block"><b>Add Friend</b></h5><div class="d-inline-block ">
            <%= form_with url: add_friend_group_url(@group.id) , remote: true , method: 'post' do |form|  %>
              <%= form.text_field "email", placeholder:"Email",id: "email" %>
              <%= form.submit "ADD" , :class =>"btn btn-dark btn-sm add-friend-to-group", data: { "disable-with": "Adding..." }  %>
            <% end %>
          </div>
          <% end %>`)
<% end %>
$('#add-friend-errors').empty()

$('.my-card-container').empty()
<% if @users.size != 0 %>
$('.my-card-container').append(`<% @users.each do |user| %><div class="my-card">
          <div class="my-card-img-body">
            <% if user.image %>
              <img src="<%= user.image %>" alt="Card image cap" style="width:85px;height:85px;" class="card-img">
            <% else %>
              <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Card image cap"  style="width:85px;height:85px;" class="card-img">
            <% end %>
          </div>
          <div class="my-card-body">
            <h6 class="card-title"><b><%= user.name %></b></h6>
            <% if @group.user_id == current_user.id %>
            <%= link_to "Remove", delete_friend_from_group_url(@group.id,user.id), method: :delete , class: "btn btn-danger btn-sm" %>
            <% end %>
          </div>
        </div><% end %>`)
<% else %>
//$('.my-card-container').append('<h5><b>No Users In This Group</b></h5>')
<% end %>