<!--
<p id="notice"><%#= notice %></p>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @groups.each do |group| %>
      <tr>
        <td><%#= link_to 'Show', group %></td>
        <td><%#= link_to 'Edit', edit_group_path(group) %></td>
        <td><%#= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Group', new_group_path %>
-->
<div class="d-flex flex-column align-content-center align-items-center">
  <div>
    <h5 class="d-inline-block"><b>Group</b></h5>
    <div class="d-inline-block ">
      <%= form_with url: groups_path, remote: true, method: "post" do |form| %>
        <%= form.text_field "name", id: "group-input", placeholder: "Group" %>
        <%= form.submit "ADD", class: "btn btn-success add-group-btn", data: {"disable-with": "Adding..."} %>
      <% end %>
    </div>
    <div id="errors-group"></div>
  </div>
  <div class="d-flex flex-row " style="width: 100%; ">

    <div id="groups" class="d-flex flex-column  border rounded ml-4 mt-3 align-content-center align-items-center " style="width: 25%; border: #2E2F30 solid;">
      <h6 class="mt-3 mb-3"><b>My Groups</b></h6>
      <div style="height: auto">
        <table>
          <tbody id="group-table">
          <% @groups.each do |group|
            p group  %>
            <tr>
              <td style="width: 15rem;"><h4><%= group.name %></h4></td>
                <td><%= link_to (fa_icon ("user-plus"), class: "fa-2x btn-outline-dark"), group_details_url(group.id), method: :get, remote: true %></td>
              <% if group.user_id == current_user.id %>
                <td class="ml-5"><%= link_to (fa_icon ("times"), class: "fa-2x btn-outline-dark"), group, method: :delete %></td>
              <% end %>
            </tr>
          <% end %>
          <!--<tr>
            <td style="width: 15rem;"><h4>OS</h4></td>
            <td><%#= fa_icon "user-plus", class: "fa-2x" %></td>
            <td class="ml-5"><%#= fa_icon "times", class: "fa-2x" %></td>
          </tr>
          <tr>
            <td style="width: 15rem;"><h4>OS</h4></td>
            <td><%#= fa_icon "user-plus", class: "fa-2x" %></td>
            <td class="ml-5"><%#= fa_icon "times", class: "fa-2x" %></td>
          </tr>
          <tr>
            <td style="width: 15rem;"><h4>OS</h4></td>
            <td><%#= fa_icon "user-plus", class: "fa-2x" %></td>
            <td class="ml-5"><%#= fa_icon "times", class: "fa-2x" %></td>
          </tr>-->
          </tbody>
        </table>
      </div>
    </div>

    <div id="group-members" class="d-flex flex-column  border rounded ml-4 mt-3 align-content-center align-items-center " style="width: 70%; border: #2E2F30 solid;">
      <h6 class="mt-3 mb-3"><b id="group-title">Group Details</b></h6>
      <div id="add-friend-errors"></div>
      <div id="group-header-details">

      </div>
      <div class="my-card-container">

      </div>
    </div>
  </div>
</div>

