<p id="notice"><%= notice %></p>

<div class="d-flex p-2 mr-3 ml-3 justify-content-center align-items-strech" style="margin-top: 1rem; font-size: 20px;">
        
        <fieldset  class="container p-2" style="border: solid; height: 500px; margin-right: 1rem; overflow-y: scroll;">
            <legend style="width: auto;"> Latest Orders </legend>
            <%# <h3> Your Orders </h3> %>
            <ul style="list-style-type: none;">
                <% @info[0][:user_orders].each do |order| %>
                    <li style="font-size: 20px;"> 
                    <%= link_to "#{order.order_type} on #{order.created_at.to_date}" , {:controller => "order_items", :action => "index", :order_id => order.id}%>
                    </li><br>
                <% end %>
            </ul>
            <%# <h3> The Orders You Joined </h3> %>
            <%# <ul style="list-style-type: none;"> %>
                <%# <% @info[0][:joined_orders].each do |order| %> <%#%>
                    <%# <li style="font-size: 20px;"> <a href="#"> <%= order.order_type %><%# on <%= order.created_at.to_date %> <%#</a> </li> %>
                <%# <% end %> <%#%>
            <%# </ul> %>
        </fieldset>
        
        <fieldset  class="container p-2" style="border: solid; height: 500px;">
            <legend style="width: auto;"> Friends Activity </legend>
            <ul style="list-style-type: none;">
                <% @info[0][:joined_orders].each do |joined_order|%>
                    <li style="font-size: 20px; margin-bottom: 1rem;"> <a href="<%= user_path(joined_order[:host_id]) %>"> <%= joined_order[:name] %></a> has created 
                    
                    <%= link_to "an order", {:controller => "order_items", :action => "index", :order_id => joined_order[:order][:id]}%>
                    for
                    <%= link_to joined_order[:order][:order_type], {:controller => "order_items", :action => "index", :order_id => joined_order[:order][:id]} %>
                    from <%= joined_order[:order][:restaurant] %>. </li>
                <% end %>
            </ul>
            <%# <ul style="list-style-type: none;"> %>
                <%# <% @info[0][:friends_orders].each do |friend_order| %> <%#%>
                    <%# <% friend_order[:orders].each do |order| %> <%#%>
                      <%# <li style="font-size: 20px; margin-bottom: 1rem;"> <a href="<%= user_path(friend_order[:id]) %><%#"> <%= friend_order[:name] %><%#</a> has created <a href="#">an order</a> for <a href="#"> <%= order.order_type %> <%#</a> from <a href="#"> <%= order.restaurant %> <%#</a>. </li> %>
                    <%# <% end %> <%#%>
                <%# <% end %> <%#%>
            <%# </ul> %>
        </fieldset>
    
    </div>